backend/venv
backend/__pycache__/
vizualization/__pycache__/
visualization/venv
.idea
backend/.idea
frontend/.idea
.DS_Store
backend/.DS_Store
frontend/.DS_Store
visualization/.DS_Store
backend/results.db